# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Environment Variables
# =========================
.env

# =========================
# Large Dataset Files
# =========================
data/raw/candidates.jsonl

# =========================
# Generated Embeddings
# =========================
data/embeddings/

# =========================
# Generated Outputs
# =========================
outputs/

# =========================
# FAISS / Pickle Files
# =========================
*.faiss
*.pkl

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE Files
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log